<!DOCTYPE html>
<html>
<head>
    <title>node blog</title>
    <!--静态文件public为起点-->
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="/style/main.css">
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">node</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <%
                if(user){
                %>
                <li><a href="/articles/add">发表文章</a></li>
                <li><a href="/users/logout">登出</a></li>
                <%
                }else{
                %>
                <li class="active"><a href="/users/reg">注册 <span class="sr-only">(current)</span></a></li>
                <li><a href="/users/login">登录</a></li>
                <%
                }
                %>
            </ul>
        </div>
    </div>
</nav>

<!--提示成功消息-->
<%if(success){%>
<div class="alert alert-success" role="alert">
    <%= success %>
</div>
<%}%>

<!--提示失败消息-->
<%if(error){%>
<div class="alert alert-danger" role="alert">
    <%= error %>
</div>
<%}%>
